<!DOCTYPE html>
<html  ng-app='todoApp'>
<head>
	<title>TODO List</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="custom.css" />
</head>
<body ng-controller='todosController'>

<div class="small-container well">
	<div class="bold">
		What do you want to do today?
  {{test}}
	</div>
	<div class="margin-top-20">
		<input type="text" class="form-control" placeholder="Your todo..." ng-model='newTodoInput' />
	</div>

	<div class="margin-top-20">
		<button type="button" id="submit-todo" class="btn btn-primary" ng-click='addTodo();'>Submit Todo</button>
	</div>
</div>

<div id="todo-list" class="small-container">
	<ol>
    <li class='{{todo.status}}' ng-repeat="todo in todos" ng-click="toggleComplete(todo);">{{todo.body}}<a href="#" ng-click="deleteTodo(todo);">Delete</a></li>
	</ol>
</div>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
